@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');

.footer {
  background-color: #FF7A66;
  padding: 30px 20px;
  color: #ffffff;
  flex-shrink: 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  align-items: flex-start;
}

.footer-section {
  flex: 1;
  min-width: 220px; 
  font-size: 0.95rem;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  width: 70px;
  height: auto;
}

.brand-name-footer {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 3rem; 
  color: #fff;
  font-weight: normal;
}

.footer-section h3 {
  margin-bottom: 8px;
  font-size: 1.05rem;
}

.social-icons {
  display: flex;
  gap: 18px;
}

.social-icons a {
  color: #fff;
  font-size: 1.4rem;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #d45b52;
}

.footer-bottom {
  margin-top: 25px;
  text-align: center;
  font-size: 0.85rem;
}

/* Media Query */
@media (max-width: 1024px) {
  .brand-name-footer {
    font-size: 2.4rem; 
  }

  .footer-section {
    min-width: 200px;
    font-size: 0.9rem;
  }

  .footer-logo {
    width: 60px;
  }

  .footer-container {
    gap: 20px;
  }
}

@media (max-width: 600px) {

  .footer {
    padding: 20px 15px;
  }

  .footer-container {
    gap: 18px;
    justify-content: space-between;
  }

  .footer-section {
    min-width: 48%; 
    text-align: left;
    font-size: 0.85rem;
  }

  .logo-section {
    gap: 6px;
  }

  .footer-logo {
    width: 50px;
  }

  .brand-name-footer {
    font-size: 2rem; 
  }

  .social-icons a {
    font-size: 1.2rem;
    justify-content: center; 
  }

  .footer-bottom {
    font-size: 0.75rem;
  }
}

@media (max-width: 400px) {
  .footer-section {
    min-width: 100%;
  }

  .brand-name-footer {
    font-size: 1.7rem;
  }

  .footer-logo {
    width: 45px;
  }

  .footer {
    padding: 18px 12px;
  }
}
