.search-bar-form {
  display: flex;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 9999px;
  overflow: hidden;
  box-shadow: 0px 10px 6px rgba(19, 18, 18, 0.1);
  background-color: white;
}

.search-bar-input {
  flex-grow: 1;
  padding: 12px 24px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.search-bar-input:focus {
  box-shadow: 0 0 0 2px #ec4899;
}

.search-bar-button {
  background-color: #ec4899;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.search-bar-button:hover {
  background-color: #db2777;
}

/* --- Responsive Media Query --- */
@media (max-width: 480px) {
  .search-bar-form {
    margin-top: 2rem;
    max-width: 90%;
  }

  .search-bar-input {
    padding: 10px 14px;
    font-size: 0.85rem; /* smaller font */
  }

  .search-bar-button {
    padding: 10px 14px;
    font-size: 0.85rem; /* smaller font */
  }
}
